*{
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei",sans-serif;
}
.weather{
	box-sizing: content-box;
	padding: 20px;
	width: 500px;
	height: 300px;
	margin: 5% auto;
	background: #fff url(../weatherModuleBg.jpg) no-repeat center;
	background-size: cover;
	border: 1px solid #ddd;
}
.weather-today{
	line-height: 20px;
	position: relative;
}
.weather-choosecity{
	position: absolute;
	top: 0;
	right: 50px;
}
.weather-city{
	width: 5em;
	background-color: transparent;
	outline: none;
	border: 1px solid #888;
}
.weather-update{
	display: inline-block;
	float: right;
	outline: 1px solid #888;
	padding: 0 10px;
	font-size: 12px;
	cursor: pointer;
}
.weather-update:hover{
	background-color: #eee;
}
.weather-todayinfo{
	float: left;
	margin-top: 10px;
	width: 250px;
	height: 150px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 1px #888;
}
.weather-todayinfo h1,.weather-todayinfo p{
	margin-top: 8px;
}
.weather-todayotherinfo{
	float: right;
	margin: 10px 0 0 0;
	width: 220px;
	height: 266px;
	padding: 2px 10px;
	background-color: rgba(255,255,255,0.5);
	overflow: hidden;
	box-shadow: 1px 1px 1px #888;
}
.weather-todayotherinfo h5{
	margin: 8px 0 4px;
}
.weather-todayotherinfo p{
	margin-top: 4px;
	text-align: left;
	font-size: 12px;
}
.weather-future{
	float: left;
	margin-top: 10px;
	height: 100px;
	padding: 5px 0;
	width: 250px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 1px #888;
}
.weather-future ul li{
	float: left;
	width: 124px;
	border-right: 1px solid #eee;
	list-style: none;
	height: 100px;
	text-align: center;
}
.weather-future-item2{
	border: none !important;
}
.weather-future li p{
	font-size: 12px;
	margin-top: 3px;
}
.weather-future li h3{
	margin: 10px 0;
}